@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@font-face{ 
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
}

@font-face{ 
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'),
         url('../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
}

@font-face{ 
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}



html,body{
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5715;
    color: #6e778b;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*{
    outline: none;
}
a{
    color: #006AFA;
    display: inline-block;
}
a,
a:hover,
a:focus {
    text-decoration: none;
    transition: 0.5s;
    outline: none;
}
button, input, optgroup, select, textarea{
    font-size: 14px;
    color: #002032;
    font-weight: normal;
}
button:focus,
input:focus,
select:focus,
textarea:focus{
    outline: none;
    box-shadow: none;
}

ul,
menu,
dir {
    margin: 0px;
    padding: 0px;
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
section{
    position: relative;
}
::-webkit-input-placeholder {color: #afafaf;}
:-moz-placeholder {color: #afafaf;}
::-moz-placeholder {color: #afafaf;}
:-ms-input-placeholder {color: #afafaf;}

a, button{
    transition: 0.5s;
}
hr{
    border-top: 1px solid #E0E0E0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #4F4F4F;
    font-weight: normal;
}

h1, .h1{
    font-size: 36px;
}
h2, .h2{
    font-size: 24px;
}
h3, .h3{
    font-size: 18px;
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    background-color: var(--light);
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--light);
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 8px;
}


.bg-light-blue{
    background-color: #f2f8ff;
}

/*---tooltip-css*/
.tooltip-inner {
    background-color: #6e80a5;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);
    font-size: 11px;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    padding: 7px 12px;
    border-radius: 6px;
}
.tooltip.show {
    opacity: 1;
}
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: #63759a;
}
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color: #63759a;
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-right-color: #63759a;
}
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #63759a;
}


/*---------sitemap-------------*/
.sitemap-section{
    background-color: #f2f8ff;
}
.sitemap-title {
    margin-bottom: 40px;
    text-align: center;
}
.sitemap-title h3{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #0E1528;
    margin-bottom: 0;
    margin-top: 5px;
}
.site-map-links li {
    margin-bottom: 8px;
}
.site-map-links li a {
    font-size: 13px;
    font-weight: 600;
    padding: 18px 21px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    line-height: initial;
    color: #404040;
    background-color: #fff;
    border: 1px solid rgba(150, 160, 181, 0.2);
    text-transform: capitalize;
    transition: 0.3s;
}

.site-map-links li a:hover,
.site-map-links li a:focus{
    background-color: #5a8dee;
    color: #fff;
}


/*Preloader*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0e1528;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-part h5{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 400;
}
.loader-spinner {
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
}
@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/*-------default-class---------*/

.p-text-16{ 
    font-size: 16px !important; 
}   
.p-text-14{ 
    font-size: 14px !important; 
}   
.p-text-13{ 
    font-size: 13px !important; 
}   
.p-text-small{  
    font-size: 12px !important; 
}   
.link-text-16{  
    font-size: 16px !important; 
    color: #006AFA; 
}   
.link-text-14{  
    font-size: 14px !important; 
    color: #006AFA; 
}   
.link-text-13{  
    font-size: 13px !important; 
    color: #006AFA; 
}
.form-group {
    margin-bottom: 20px;
}
.form-group .label-name {
    font-size: 13px;
    font-weight: 500;
    color: #0e1528;
    margin-bottom: 2px;
}
.form-group .label-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.form-text {
    margin-top: 0.25rem;
    font-size: 12px;
    color: #9198a9;
    font-weight: 400;
}
.form-control{
    padding: 15px 22px;
    font-size: 14px;
    height: auto;
    line-height: initial;
    border: 1px solid #e9f0f7;
    border-radius: 8px;
    width: 100%;
}
.form-control:focus{
    box-shadow: none;
    border-color: #5a8dee;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #75758a;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #75758a;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #75758a;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #75758a;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/select-arrow.svg) calc(100% - 18px) / 11px no-repeat;
}

.input-control {
    padding: 16px 22px;
    font-size: 13px;
    line-height: initial;
    border: 1px solid #e9f0f7;
    border-radius: 8px;
    width: 100%;
}
.input-control:focus{
    box-shadow: none;
    border-color: #0c61f7;
}

.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 600 !important;
}

/*btn-classes*/
.btn-theme {
    padding: 11px 25px;
    min-height: 48px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    border: 2px solid #0c61f7;
    border-radius: 8px;
    color: #0c61f7;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    transition: 0.3s;
}
.btn-theme.disabled,
.btn-theme[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}
.btn-theme.btn-blue.disabled:hover,
.btn-theme.btn-blue[disabled]:hover{
    background-color: #0c61f7;
    border-color: #0c61f7;
}
.btn-theme.btn-blue {
    background-color: #0c61f7;
    color: #fff;
}

.btn-theme.btn-light-blue {
    color: #0c61f7;
    background-color: #cedffe;
    border-color: #cedffe;
}
.btn-theme.btn-blue:hover {
    background-color: #1890ff;
    border-color: #1890ff;
}
.btn-theme.btn-green {
    background-color: #00bf71;
    border-color: #00bf71;
    color: #fff;
}
.btn-theme.btn-green:hover {
    background-color: #13db89;
    border-color: #13db89;
}
.btn-theme.btn-cancel{
    border-color: #E9F0F7;
    background-color: #F3F7FA;
    color: #96A0B5;
}
.btn-theme.btn-cancel:hover {
    background-color: #E9F0F7;
}
.btn-theme.btn-red {
    background-color: #ff3b30;
    border-color: #ff3b30;
    color: #fff;
}
.btn-theme.btn-blue-2{
    background-color: #008ffb;
    border-color: #008ffb;
    color: #fff;
}
.btn-theme.btn-blue-2:hover{
    background-color: #5796e9;
    border-color: #5796e9;
}


/*------------*/


.btn-default {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding: 12px 35px;
    color: #002032;
    display: inline-block;
    border: none;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: 0.4s;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}

.btn-border-line{
    border: 1px solid #A0A0A0;
}
.bg-theme{
    background-color:#002032;
}
.bg-default-light{
    background: rgba(0, 106, 250, 0.1);
    color: #006AFA;
}
.bg-default-light:hover{
    background: rgba(11, 59, 182, 0.2);
}
.bg-blue{
    background-color: #006AFA;
    color: #fff;
}
.bg-blue:hover{
    background-color: #0B3BB6;
    color: #ffffff;
}
.bg-blue-disabled{
    background-color: #8db0fc;
}
.bg-blue.bg-blue-disabled:hover{
    background-color: #8db0fc;
}
.bg-green{
    background-color: #00AE86;
    color: #ffffff;
}
.bg-green:hover{
    background-color: #088457;
    color: #ffffff;
}
.bg-green-disabled{
    opacity: 0.4;
}
.bg-green.bg-green-disabled:hover{
    background-color: #00AE86;
}
.bg-gradient{
    background: linear-gradient(267.76deg, #006AFA -7.48%, #00AE86 96.45%);
    color: #fff;
}
.btn-default .fa-long-arrow-alt-right{
    position: relative;
    top: 2px;
}
.btn-right-icon, .btn-left-icon{
    position: relative;
}
.btn-right-icon i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-left-icon i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.text-blue-color{
    color: #006AFA;
}
.text-gray-color{
    color: #727272;
}
.text-green-color{
    color: #00AE86;
}
.alert{
    padding: 15px 12px;
    border-radius: 6px;
}
.alert-popup{
    position: fixed;
    top: 15px;
    right: 15px;
    min-width: 300px;
    max-width: 450px;
    z-index: 1003;
    margin-left: 15px;
}
.alert-popup h3{
    font-size: 16px;
    margin-bottom: 0;
    line-height: 22px;
}
.alert p{
    margin-bottom: 0;
    margin-top: 8px;
    color: #4F4F4F;
    font-weight: 400;
}
.alert button.close{
    opacity: 1;
    font-size:18px;
    transition: none;
}
.alert button.close i{
    font-weight: 700;
}
.alert-success{
    background: #E7F7E5;
    border: 2px solid #12BA23;
}
.alert-success button.close{
    color: #12BA23;
}
.alert-success h3 i{
    color: #219653;
    font-size: 22px;
    vertical-align: middle;
}
.alert-danger{
    background: #FFF2EB;
    border: 2px solid #EB5757;
}
.alert-danger button.close{
    color: #EB5757;
}
.alert-danger h3 i{
    color: #EB5757;
    font-size: 22px;
    vertical-align: middle;
}


.alert-primary{
    background: #EEF5FF;
    border: 2px solid #006AFA;
}
.alert-primary button.close{
    color: #006AFA;
}
.alert-primary h3 i{
    color: #006AFA;
    font-size: 22px;
    vertical-align: middle;
}


.alert-warning{
    background: #fffad7;
    border: 2px solid #fadb00;
}
.alert-warning button.close{
    color: #fadb00;
}
.alert-warning h3 i{
    color: #fadb00;
    font-size: 22px;
    vertical-align: middle;
}


.bg-success {
    color: #12BA23 !important;
}
.bg-success:hover {
    color: #1CA129 !important;
}
.bg-danger{
    background: #EB5757 !important;
}
.text-danger {
    color: #EB5757 !important;
}

.bg-light-success{
    background-color: #d5e9d2 !important;
}
.bg-light-info {
    background-color: #cce9f5 !important;
}
.bg-light-warning {
    background-color: #feeecc !important;
}
.bg-light-danger {
    background-color: #f5d7d0 !important;
}

.badge {
    font-weight: 700;
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 50px;
    line-height: inherit;
    font-weight: normal;
}

.badge-light-yellow{
    background-color: rgba(255, 188, 16, 0.3);
    color: #926F16;
}
.badge-light-violet{
    background-color: rgba(193, 0, 209, 0.2);
    color: #85158E;
}
.badge-light-green{
    background-color: rgba(111, 207, 151, 0.3);
    color: #0E8368;
}

.section-padding{
    padding: 65px 0px;
}
.section-ptb40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.pt40{
    padding-top: 40px;
}
.pb40{
    padding-bottom: 40px;
}
.section-ptb65{
    padding-top: 65px;
    padding-bottom: 65px;
}
.pt65{
    padding-top: 65px;
}
.pb65{
    padding-bottom: 65px;
}
.section-ptb80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.pt80{
    padding-top: 80px;
}
.pb80{
    padding-bottom: 80px;
}
.section-ptb120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.pt120{
    padding-top: 120px;
}
.pb120{
    padding-bottom: 120px;
}


.left-input-icon, .right-input-icon, .link-text-group {
    position: relative;
}
.right-input-icon .form-control {
    padding-right: 45px;
}
.left-input-icon .form-control {
    padding-left: 45px;
}
.right-input-icon .right-icon {
    position: absolute;
    top: 13px;
    right: 15px;
    color: #C8C8C8;
}
.left-input-icon .left-icon {
    position: absolute;
    top: 13px;
    left: 15px;
    color: #C8C8C8;
}
.link-text-group .form-control{
    /* padding-right: 90px; */
    padding-right: 45px;
}
.link-text-group .link-text-btn {
    position: absolute;
    top: 18px;
    right: 15px;
    color: #006AFA;
    display: block;
    line-height: 1;
}
.form-control:disabled, .form-control[readonly]{
    background: #F2F2F2;
    border: 1px solid #C8C8C8;
    color: #4F4F4F;
}

.bg-fixed{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.form-check-input{opacity: 0;visibility: hidden;}

.custom-control-label::before{
    background: #F2F2F2;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
}
.custom-checkbox .custom-control-label::after{
    background-repeat: no-repeat;
    background-position:50% 60% ;
    background-size: 57%;
}
.custom-checkbox .custom-control-label::after{
    left: -24px;
}
.radio-align-boxes {
    margin-top: 5px;
}
.radio-align-boxes .custom-radio{
    display: inline-block;
    margin-left: 15px;
}
.radio-align-boxes .custom-radio:first-child{
    margin-left: 0px;
}
.custom-radio .custom-control-label::after{
    background-repeat: no-repeat;
    background-position:55% 50% ;
    background-size: 40%;
}
.custom-control-label{
    vertical-align: middle;
    line-height: 26px;
    color: #868686;
    font-size: 14px;
}
.custom-control-input:focus~.custom-control-label::before{
    box-shadow: none;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before{
    background: #F2F2F2;
    border-color: #C8C8C8;
}
.modal-backdrop{
    background: rgba(5, 27, 49, 1);
}
.modal-backdrop.show{
    opacity: 0.8;
}

.card-number-input{
    position: relative;
}
.card-number-input .form-control{
    padding-right: 165px;
}
.card-number-img {
    position: absolute;
    top: 33px;
    right: 15px;
}

.card-number-img img{
    max-width: 136px;
}

.select2-container--default .select2-selection--single{
    border: 1px solid #C8C8C8;
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #757575;
    line-height: 38px;
    padding-right: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    right: 5px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(0,106,250, 0.05);
    color: #006AFA;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border: none;
    background: url('../images/select-arrow.svg') no-repeat 0 0;
    width: 12px;
    height: 8px;
    background-size: 100% 100%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: rgba(0,106,250, 0.05);
    color: #006AFA;
    font-weight: 600;
}  
.select2-container--default .select2-results__option:last-child{
    border-radius: 0px 0px 4px 4px;
}
.select2-container--default .select2-selection--single{
    border-radius: 6px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 15px;

}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple, 
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.select2-results__option {
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    color: #4F4F4F;
    font-size: 15px;
    font-weight: 400;
    
}
.select2-container--open .select2-dropdown--above {
    box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: none;
    top: 8px;
    border-radius: 6px;
}

.select2-container--open .select2-dropdown--below{
    box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: none;
    top: -8px;
    border-radius: 6px;
}
.select2Part.w-100 > .select2-container{    
    width: 100% !important;
}
.select2-search--dropdown{
    padding: 12px 15px;
    position: relative;
}

.select2-container--default .select2-search--dropdown .select2-search__field{
    
    font-size: 14px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    color: #757575;
    padding: 10px 15px;
    background-color: #fff;
    position: relative;
    padding-right: 45px;
}
.select2-container--default .select2-search--dropdown:after{
    content: "\f002";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 23px;
    right: 30px;
    font-size: 15px;
    color: rgba(0,0,0,0.54);
}
.mCustomScrollbar{  
    -ms-touch-action: auto; 
    touch-action: auto;
}

.custom-control{
    z-index: inherit;
}

.checkbox-align-boxes .custom-checkbox{
    display: inline-block;
    margin-left: 15px;
}
.checkbox-align-boxes .custom-checkbox:first-child{
    margin-left: 0px;
}


.custom-radio-check-align-boxes .custom-radio-check{
    display: inline-block;
    margin-left: 15px;
}
.custom-radio-check-align-boxes .custom-radio-check:first-child{
    margin-left: 0px;
}

.custom-radio-check .custom-control-label::before{
    border-radius: .25rem;
}
.custom-radio-check .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-radio-check .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #4F4F4F;
    background-color: #4F4F4F;
}
.custom-radio-check .custom-control-label::after {
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 57%;
}
.mCSB-custom-scrollbar .mCSB_scrollTools .mCSB_draggerContainer{    
    margin: 12px 0; 
}   
.mCSB-custom-scrollbar .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB-custom-scrollbar .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{  
    margin: 0;  
}   
.mCSB-custom-scrollbar .mCS-autoHide>.mCustomScrollBox>.mCSB_scrollTools, .mCSB-custom-scrollbar .mCS-autoHide>.mCustomScrollBox~.mCSB_scrollTools{ 
    opacity: 1; 
}

.select2-container--default .select2-selection--multiple{
    border: 1px solid #C8C8C8;
    min-height: 50px;
    border-radius: 6px;
    position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    color: #757575;
    line-height: initial;
    padding-right: 30px;
    display: block;
    height: 100%;
    padding-bottom: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    height: 48px;
    right: 15px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered:before {
    border: none;
    content: '';
    background: url(../images/select-arrow.svg) no-repeat 0 0;
    width: 12px;
    height: 8px;
    background-size: 100% 100%;
    transform: translateY(-50%);
    position: absolute;
    right: 15px;
    top: 24px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #C8C8C8;
    
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    line-height: initial;
    padding: 5px;
    font-size: 14px;
    position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    width: initial !important;
    padding: 5px !important;
    padding-right: 24px !important;
    font-size: 13px !important;
}
.select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
    font-size: 16px;
    margin-top: 0px;
    padding: 0;
    padding-left: 5px;
    line-height: 27px;
    padding-top: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    position: absolute;
    font-size: 22px;
    width: 20px;
    height: 20px;
    top: 1px;
    text-align: center;
    color: #006AFA;
    right: 2px;
}
.select2-results__option[aria-selected]{
    position: relative;
}
.select2-container--default .select2-results__option[aria-selected=true]:before{
    content: "\e83f";
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 22px;
    top: 11px;
}


/*img:hover svg filter*/
/*filter: invert(0) sepia(7) saturate(40) hue-rotate(-150deg);*/



img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@media (min-width: 768px){
    .alert-popup{
        min-width: 400px;
    }
}

@media (max-width: 767px){

}


@media (max-width: 575px){
    .card-number-input .form-control {
        padding-right: 125px;
    }
    .card-number-img img {
        max-width: 100px;
    }
}